form > label {
	display: block;
}

div.err-msgs > div {
	display: none;
}

div.err-msgs > div::before {
	content: 'Error: ';
	color: darkred;
}

div.err-msgs > div:target {
	display: block;
	color: red;
}

.err-msg {
	display: none;
	color: red;
	font-size: 10pt;
}

input.fail + .err-msg, textarea.fail + .err-msg {
	display: inline;
}

input.fail, textarea.fail {
	border-color: red;
	border-width: 2px;
}
