.c-car {
	background-position: center;
	background-size: cover;
	/* background-repeat: no-repeat; */
	min-height: 189px;
	border: 1px solid #777;
	box-shadow: inset 0px 0px 2px 0px;
	border-radius: 4px;
	margin-right: 10px;
	display: flex;
	align-items: flex-end;
	padding-bottom: 12px;
	box-sizing: border-box;
}

.c-car-price {
	opacity: 0.8;
	font-size: 7pt;
}

.c-car-price:before {
	content: '(';
}

.c-car-price:after {
	content: ')';
}

#carousel-track {
	margin-bottom: 0;
}
