<div class="header">
	<div class="ng-hide">
		<!-- https://html.spec.whatwg.org/multipage/links.html#link-type-stylesheet -->
		<link rel="stylesheet" href="/modules/components/header/view/css/navbar.css" type="text/css" />
		<link rel="stylesheet" href="/modules/components/header/view/css/auth.css" type="text/css" />
	</div>
	
	<img ng-src="{{$ctrl.viewPath}}/img/logo.png" title="{{$ctrl.pageBrand}}">
	<nav>
		<a href="#/main"    ng-class="$ctrl.currentp('main')">Main</a>
		<a href="#/cars"    ng-class="$ctrl.currentp('cars')" ng-show="$ctrl.user.admin">Cars</a>
		<a href="#/shop"    ng-class="$ctrl.currentp('shop')">Shop</a>
		<a href="#/contact" ng-class="$ctrl.currentp('contact')">Contact</a>
	</nav>
	
	<span class="lang">
		<a data-tr-switch="es" href="javascript:void(0)" title="ES">
			<img ng-src="{{$ctrl.viewPath}}/img/es.png" alt="ES">
		</a>
		<a data-tr-switch="en" href="javascript:void(0)" title="EN">
			<img ng-src="{{$ctrl.viewPath}}/img/en.png" alt="EN">
		</a>
	</span>
	
	<div class="search">
		<form name="searchf" ng-submit="$ctrl.carSearch($ctrl.searchQuery)">
			<input ng-model="$ctrl.searchQuery" ng-change="$ctrl.updateCarSearchSuggestions()" type="text" name="query" placeholder="Search cars...">
			<input type="submit" value="&#128269;">
		</form>
		<div class="h-autocomplete" ng-show="$ctrl.carSuggestions.length">
			<div class="acompl" ng-repeat="car in $ctrl.carSuggestions" ng-click="$ctrl.carSearch(car.name)">{{car.name}}</div>
		</div>
	</div>
	
	<jjc-cart-popup-btn></jjc-cart-popup-btn>
	
	<div class="head-auth">
		<button ng-click="$ctrl.modal('login')"    ng-show="!$ctrl.user">Login</button>
		<button ng-click="$ctrl.modal('register')" ng-show="!$ctrl.user">Register</button>
		<button ng-click="$ctrl.modal('profile')"  ng-show="$ctrl.user" title="{{$ctrl.user.username}}" class="profile-btn">
			<img ng-src="{{$ctrl.userAvatarImg}}" alt="Profile">
		</button>
	
		<div class="ha-popup login-popup" ng-show="$ctrl.curModal == 'login'">
			<div>
				<form name="loginf" ng-submit="$ctrl.loginLocal()">
					<div class="fieldtitle">Login name:</div>
					<input ng-model="$ctrl.loginForm.username" type="text" name="usrn" ng-pattern="/^([a-zA-Z0-9_.-]+|[^\s@\x00-\x1F\x7F%!\\]+@[^\s@\x00-\x1F\x7F%!\\]+\.[^\s@\x00-\x1F\x7F%!\\]+)$/" maxlength="30" autocomplete="username" required>
					<div class="fieldtitle">Password: <a href="#/resetpw" ng-click="$ctrl.modal(null)">(forgot?)</a></div>
					<input ng-model="$ctrl.loginForm.password" type="password" name="pass" maxlength="256" autocomplete="current-password" required>
	
					<div><label><input ng-model="$ctrl.loginForm.persist" type="checkbox"><span class="fieldtitle">Remember me</span></label></div>

					<input ng-disabled="!loginf.$valid || $ctrl.requestInProgress" type="submit" value="Login">
					<div ng-show="$ctrl.loginFailed" class="err"><b>{{$ctrl.loginFailed}}</b></div>
					<div ng-show="!loginf.usrn.$pristine && !loginf.usrn.$valid" class="err"><b>Usernames can't have those characters!</b></div>
				</form>
				<div class="social-login">
					<button ng-disabled="$ctrl.requestInProgress || !$ctrl.fbaseGhub" ng-click="$ctrl.loginGithub()">
						<img ng-src="{{$ctrl.viewPath}}/img/ghub.png">
					</button>
					<button ng-disabled="$ctrl.requestInProgress || !$ctrl.fbaseGoogle" ng-click="$ctrl.loginGoogle()">
						<img ng-src="{{$ctrl.viewPath}}/img/goog.png">
					</button>
				</div>
			</div>
		</div>
		<div class="ha-popup register-popup" ng-show="$ctrl.curModal == 'register'">
			<div>
				<form name="regf" ng-submit="$ctrl.registerLocal()">
					<div class="fieldtitle">User name:</div>
					<input ng-model="$ctrl.registerForm.username" name="usrn" type="text" ng-pattern="/^[a-zA-Z0-9_.-]+$/" maxlength="30" autocomplete="nickname" required>
					<div ng-show="!regf.usrn.$pristine && !regf.usrn.$valid" class="err"><b>Usernames can't have those characters!</b></div>
					
					<div class="fieldtitle">Mail address:</div>
					<input ng-model="$ctrl.registerForm.email" type="email" name="mail" maxlength="256" autocomplete="email" required>
					<div ng-show="!regf.mail.$pristine && !regf.mail.$valid"><b>Email address is incomplete.</b></div>
	
					<div class="fieldtitle">Password:</div>
					<input ng-model="$ctrl.registerForm.password" type="password" name="pass" maxlength="256" autocomplete="new-password" required/>
	
					<div class="fieldtitle">Confirm password:</div>
					<input ng-model="$ctrl.registerForm.conf_password" ng-pattern="$ctrl.registerForm.password" name="pwconf" type="password" maxlength="256" autocomplete="new-password" required/>
					<div ng-show="!regf.pwconf.$pristine && !regf.pwconf.$valid"><b>Passwords do not match.</b></div>
	
					<input ng-disabled="!regf.$valid || $ctrl.requestInProgress" type="submit" value="Register">
					<div ng-show="$ctrl.registerFailed" class="err"><b>{{$ctrl.registerFailed}}</b></div>
					<div class="err" ng-show="$ctrl.registerFailed"><b>Display, login name or mail already in use!</b></div>
				</form>
			</div>
		</div>
		<div class="ha-popup logoff-popup" ng-show="$ctrl.curModal == 'logoff'">
			<div>
				<form ng-submit="$ctrl.logout()">
					<div>Are you sure you want to log off?</div>
					<input ng-disabled="$ctrl.requestInProgress" type="submit" value="Log off" />
				</form>
			</div>
		</div>
		<div class="ha-popup profile-popup" ng-show="$ctrl.curModal == 'profile'">
			<div>
				<img ng-src="{{$ctrl.userAvatarImg}}" alt="Profile">
				<div>
					<span>{{$ctrl.user.username}}</span>
					<hr>
					<button ng-click="$ctrl.modal('logoff')" ng-show="$ctrl.user">Log off</button>
					<button ng-show="$ctrl.user.email_verified === 0" ng-click="$ctrl.requestMailVerification()" ng-disabled="$ctrl.requestInProgress || $ctrl.verifySent">Verify mail</button>
					<div ng-show="$ctrl.verifySent === true">Mail verification sent!</div>
					<div ng-show="$ctrl.verifySent === false" class="err">{{$ctrl.verifyErr}}</div>
				</div>
			</div>
		</div>
		<a href="javascript:void(0)" ng-click="$ctrl.modal(null)" ng-show="$ctrl.curModal" class="ha-popup-dismisser"></a>
	</div>
</div>