<div class="page">
	<div class="card">
		<h2>Verify account</h2>
		<hr>
		<p>You can verify your account by clicking the button below:</p>
		
		<form ng-submit="$ctrl.confirmVerifyToken()" name="verifyf">
			<div><input type="submit" ng-disabled="$ctrl.requestInProgress || $ctrl.verifyOk || !$ctrl.tokenOk" value="Verify Account"/></div>
			<div ng-show="!$ctrl.tokenOk" class="err"><b>The token is not valid or has expired.</b></div>
			<div ng-show="$ctrl.verifyOk === false" class="err"><b>{{$ctrl.verifyErr}}</b></div>
			<div ng-show="$ctrl.verifyOk === true"><b>Account verified successfully!</b></div>
		</form>
	</div>
</div>
