<div class="page shop">
	<div class="shop-view shown">
		<div class="card gmaps"></div>
		<div class="filters">
			<div class="card">
				<b>Number Plate</b>
				<input type="text" name="num-plate" maxlength="7" placeholder="Number Plate"/>
				<hr>
				<b>Max KMs</b>
				<input type="number" name="max-kms" min="0" max="999999" step="10000" placeholder="Max KMs"/>
				<hr>
				<b>Brand</b>
				<select name="brand"></select>
				<hr>
				<b>Wheel drive</b>
				<label><input type="radio" name="drive" value="front"> Front</label>
				<label><input type="radio" name="drive" value="rear"> Rear</label>
				<label><input type="radio" name="drive" value="all"> 4x4</label>
				<hr>
				<b>Max Price</b>
				<input type="number" name="max-price" placeholder="Max Price"/>
			</div>
		</div>
		<div class="card listing"></div>
		<div class="card view-footer">
			<div>1</div>
		</div>
	</div>
	<div class="details-view">
		<div class="card det-head">
			<h2 class="item-name"></h2>
		</div>
		<div class="card item-imgs"></div>
		<div class="card item-desc"></div>
		<div class="card related"></div>
	</div>
</div>
