<link rel="stylesheet" href="/modules_fe/common/view/css/common.css" type="text/css" />
<script type="text/javascript" src="/modules_fe/common/view/js/common.js"></script>
<script type="text/javascript" src="/modules_fe/common/view/js/i18n.js"></script>

<link rel="stylesheet" href="/modules_fe/common/view/css/lib/jquery-ui.css">
<script src="/modules_fe/common/view/js/lib/jquery-1.12.4.js"></script>
<script src="/modules_fe/common/view/js/lib/jquery-ui.js"></script>

<link rel="stylesheet" href="/modules_fe/common/view/css/lib/glider.min.css">
<script src="/modules_fe/common/view/js/lib/glider.min.js"></script>
