<link rel="stylesheet" href="/common/css/common.css" type="text/css" />
<script type="text/javascript" src="/common/js/common.js"></script>
<script type="text/javascript" src="/common/js/i18n.js" async defer></script>
<script type="text/javascript" src="/common/js/api/be_auth_api.js" async defer></script>
<script type="text/javascript" src="/common/js/auth.js" async defer></script>

<link rel="stylesheet" href="/common/css/lib/jquery-ui.css">
<script src="/common/js/lib/jquery-1.12.4.js" defer></script>
<script src="/common/js/lib/jquery-ui.js" defer></script>

<link rel="stylesheet" href="/common/css/lib/glider.min.css">
<script src="/common/js/lib/glider.min.js" defer></script>
